<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width;minimum-scale=0.5,maximum-scale=1.0; user-scalable=1;" />
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" media="all" href="css/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/style_contact.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/responsive.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
</head>

<body >
<header>
  <div class="bg_header"></div>
  <nav>
    <ul>
      <li> <a href="home_page.html"> HOME </a></li>
      <li> <a href="creative_page.html"> CREATIVE </a> </li>
      <li> <a class="logo" href="creative_page_sub.html"></a></li>
      <li> <a href="gallery_page.html"> GALLERY </a></li>
      <li> <a class="active" href="contact_page.html"> CONTACT </a></li>
    </ul>
  </nav>
</header>
<section style="height:100%">
  <article class="wrapper parallax-viewport" id="parallax">
    <div class="bottle_3"></div>
    <div class="bg_content_1 contact parallax-layer"></div>
    <div class="bg_content_2 contact parallax-layer"></div>
    <div class="bg_content_4 contact parallax-layer"></div>
    <div class="bg_content_3 contact parallax-layer">
      <div class="wrapp_content contact">
      <a href="#" class="btn_facebook"></a>
      <a href="#" class="btn_twitter"></a>
      	<form action="" method="" name="">
        	<input class="contact_form" type="text" value="" name=""/>
            <input class="contact_name" type="text" value="" name=""/>
            <textarea class="contact_address" type="text" maxlength="63" value="" name="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</textarea>
            <input class="contact_tell" type="text" value="" name=""/>
            <input class="contact_email" type="text" value="" name=""/>
            <input class="contact_to" type="text" value="" name=""/>
            <input class="contact_name_1" type="text" value="" name=""/>
            <textarea class="contact_address_1" type="text" maxlength="63" value="" name="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</textarea>
            <input class="contact_tell_1" type="text" value="" name=""/>
            <input class="contact_email_1" type="text" value="" name=""/>
            <button class="contact_submit" type="submit" value="" name=""></button>
        </form>
      </div>
    </div>
  </article>
</section>
<footer> </footer>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script> --> 
<script src="js/jquery.event.frame.js"></script> 
<script src="js/jquery.parallax.js"></script> 
<script>
  jQuery(document).ready(function(){
    jQuery('#parallax .parallax-layer')
    .parallax({
      mouseport: jQuery('#parallax')
    });
  });
  </script> 

</body>
</html>
