<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width;minimum-scale=0.5,maximum-scale=1.0; user-scalable=1;" />
		<title>RiseAbove - Sáng tạo</title>
		<link rel="stylesheet" type="text/css" media="all" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" media="all" href="css/text.css" />
		<link rel="stylesheet" type="text/css" media="all" href="css/common.css" />
		<link rel="stylesheet" type="text/css" media="all" href="css/bottle_template.css" />
		<link rel="stylesheet" type="text/css" media="all" href="css/creative_style.css" />
		<link href="css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
	</head>

	<body >
		<header>
			<div class="bg_header"></div>
			<nav>
				<ul>
					<li> <a href="home_page.html"> TRANG CHỦ </a></li>
			          <li> <a href="about_page.html"> GIỚI THIỆU </a></li>
			          <li> <a class="logo"></a></li>
			          <li> <a  class="active"> SÁNG TẠO </a> </li>
			          <li> <a href="gallery_page.html"> BỘ SƯU TẬP </a></li>
				</ul>
			</nav>
		</header>
		<section>
			<article class="wrapper parallax-viewport" id="parallax">
				<div class="bottle slider">
					<div class="bottle_template" id="template_1" style="display: none">
						<div class="bottle_template_img"></div>
						<div class="bottle_template_textlarge text1"></div>
					</div>
					<div class="bottle_template" id="template_2" style="display: none">
						<div class="bottle_template_textlarge text1"></div>
						<div class="bottle_template_img"></div>
					</div>
					<div class="bottle_template" id="template_3" style="display: none">
						<div class="bottle_template_textsmall text1"></div>
						<div class="bottle_template_img"></div>
						<div class="bottle_template_textsmall text2"></div>
					</div>
					<div class="bottle_template" id="template_4" style="display: none"></div>
					<div class="bottle_template" id="template_5" style="display: none"></div>
					<div class="bottle_template" id="template_6" style="display: none"></div>
				</div>
				<div class="bg_content_1_holder">
					<div class="bg_content_1_slider slider">
						<div class="bg_content_1 step1"></div>
						<div class="bg_content_1 step2"></div>
						<div class="bg_content_1 step3"></div>
					</div>
				</div>
				<div class="bg_content_2_holder parallax-layer">
					<div class="bg_content_2_slider slider">
						<div class="bg_content_2"></div>
						<div class="bg_content_2"></div>
						<div class="bg_content_2"></div>
					</div>
				</div>
				<div class="bg_content_4_holder parallax-layer">
					<div class="bg_content_4_slider slider">
						<div class="bg_content_4 step1"></div>
						<div class="bg_content_4 step2"></div>
						<div class="bg_content_4 step3"></div>
					</div>
				</div>
				<div class="bg_content_3_holder">
					<div id="content1" class="bg_content_3 step1">
						<div class="wrapp_creative_content">
							<a id="arrow_from1_to2" class="arrow_creative"></a>
							<div class="title_creative">
								<img src="images/creative/title_creative.png" width="465" height="45"/>
							</div>
							<ul id="template_chosen" class="content_creative">
								<li data-templateId="1" rel="#template_1"><img src="images/creative/img_1.jpg" width="119" height="183"/>
								</li>
								<li data-templateId="2" rel="#template_2"><img src="images/creative/img_2.jpg" width="119" height="183"/>
								</li>
								<li data-templateId="3" rel="#template_3"><img src="images/creative/img_3.jpg" width="119" height="183"/>
								</li>
								<li data-templateId="4" rel="#template_4"><img src="images/creative/img_1.jpg" width="119" height="183"/>
								</li>
								<li data-templateId="5" rel="#template_5"><img src="images/creative/img_3.jpg" width="119" height="183"/>
								</li>
								<li data-templateId="6" rel="#template_6"><img src="images/creative/img_2.jpg" width="119" height="183"/>
								</li>
							</ul>
							<div class="info_creative">

							</div>
						</div>
					</div>
					<div id="content2" class="bg_content_3 step2" style="display: none">
						<div class="wrapp_creative_content_sub">
							<a id="arrow_from2_to3" class="arrow_creative_sub"></a>
							<a id="arrow_from2_to1" class="arrow_creative_sub_1"></a>
							<div class="title_creative_sub">
								<img src="images/creative/title_creative_sub.png" width="465" height="45"/>
							</div>
							<ol class="creative_left_sub">
								<li>
									<div class="title_left_sub">
										<h1>CHỌN CHỦ ĐỀ</h1>
									</div>
									<ul id="topic_chosen" class="content_creative_sub">
										<li data-topic-id="1">
											<img src="images/creative/items.png" width="87" height="86"/>
										</li>
										<li data-topic-id="2">
											<img src="images/creative/items.png" width="87" height="86"/>
										</li>
										<li data-topic-id="3">
											<img src="images/creative/items.png" width="87" height="86"/>
										</li>
										<li data-topic-id="4">
											<img src="images/creative/items.png" width="87" height="86"/>
										</li>
										<li data-topic-id="5">
											<img src="images/creative/items.png" width="87" height="86"/>
										</li>
										<li data-topic-id="6">
											<img src="images/creative/items.png" width="87" height="86"/>
										</li>
									</ul>
								</li>
								<div class="space30"></div>
								<div class="clear"></div>
								<li>
									<div class="title_left_sub">
										<h1>CHỌN HÌNH</h1>
									</div>
									<ul id="image_chosen" class="content_creative_sub_1">
										<div class="ar_sub_1"></div>
										<div class="ar_sub_2"></div>
										<li data-image-id="1">
											<img src="images/creative/kind_of/1.png" width="106" height="104"/>
										</li>
										<li data-image-id="2">
											<img src="images/creative/kind_of/2.png" width="106" height="104"/>
										</li>
										<li data-image-id="3">
											<img src="images/creative/kind_of/3.png" width="106" height="104"/>
										</li>
										<li data-image-id="4">
											<img src="images/creative/kind_of/4.png" width="106" height="104"/>
										</li>
										<li data-image-id="5">
											<img src="images/creative/kind_of/5.png" width="106" height="104"/>
										</li>
										<li data-image-id="6">
											<img src="images/creative/kind_of/6.png" width="106" height="104"/>
										</li>
									</ul>
								</li>
							</ol>
							<ol class="creative_right_sub">
								<li>
									<div class="title_left_sub">
										<h1>TYPE YOUR TEXT</h1>
									</div>
									<form class="form_right_sub">
										<textarea name="" title="" placeholder="Type your text here...."></textarea>
										<button type="button" value="Submit" title="" ></button>
									</form>
								</li>
								<div class="clear"></div>
								<div class="space30"></div>
								<style type="text/css">
								</style>
								<li>
									<div class="title_left_sub">
										<h1>CHOOSE OUR QUOTE</h1>
									</div>
									<ul id="quote" class="content_creative_sub_4 scroll_bar">
										<li>
											<span>1. You are special, you are unique; may your Christmas be also as special and unique as you are! </span>
										</li>
										<li>
											<span>2. You are special, you are unique; may your Christmas be also as special and unique as you are! </span>
										</li>
										<li>
											<span>3. You are special, you are unique; may your Christmas be also as special and unique as you are! </span>
										</li>
										<li>
											<span>4. You are special, you are unique; may your Christmas be also as special and unique as you are! </span>
										</li>
										<li>
											<span>5. You are special, you are unique; may your Christmas be also as special and unique as you are! </span>
										</li>
										<li>
											<span>6. You are special, you are unique; may your Christmas be also as special and unique as you are! </span>
										</li>
										<li>
											<span>7. You are special, you are unique; may your Christmas be also as special and unique as you are! </span>
										</li>
									</ul>
								</li>
							</ol>
							<div class="clear"></div>
						</div>
					</div>
					<div id="content3" class="bg_content_3 step3" style="display: none">
						<div class="wrapp_content contact">
							<a id="arrow_from3_to2" class="arrow_creative_sub_1"></a>
							<form action="" method="" name="">
								<input class="contact_form" type="text" value="" name=""/>
								<input class="contact_name" type="text" value="" name=""/>
								<textarea class="contact_address" type="text" maxlength="63" value="" name="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</textarea>
								<input class="contact_tell" type="text" value="" name=""/>
								<input class="contact_email" type="text" value="" name=""/>
								<input class="contact_to" type="text" value="" name=""/>
								<input class="contact_name_1" type="text" value="" name=""/>
								<textarea class="contact_address_1" type="text" maxlength="63" value="" name="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</textarea>
								<input class="contact_tell_1" type="text" value="" name=""/>
								<input class="contact_email_1" type="text" value="" name=""/>
								<button class="contact_submit" type="submit" value="" name=""></button>
							</form>
						</div>
					</div>
				</div>
			</article>
		</section>
		<section style="display: none">
			<form id="master_form">
				<input type="hidden" id="master_template" name="template"/>
				<input type="hidden" id="master_topic" name="topic"/>
				<input type="hidden" id="master_image" name="image"/>
				<input type="hidden" id="master_text1" name="text_1"/>
				<input type="hidden" id="master_text2" name="text_2"/>
				<input type="hidden" id="master_from_name" name="from_name"/>
				<input type="hidden" id="master_from_add" name="from_add"/>
				<input type="hidden" id="master_from_tel" name="from_tel"/>
				<input type="hidden" id="master_from_mail" name="from_mail"/>
				<input type="hidden" id="master_to_name" name="to_name"/>
				<input type="hidden" id="master_to_add" name="to_add"/>
				<input type="hidden" id="master_to_tel" name="to_tel"/>
				<input type="hidden" id="master_to_mail" name="to_mail"/>
			</form>
			<input type="hidden" id="master_text_num" value="1"/>
		</section>
		<footer></footer>
		<!-- script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script -->
		<script src="js/jquery-1.7.2.min.js"></script>
		<script src="js/jquery-ui.min.js"></script>
		<script src="js/jquery.event.frame.js"></script>
		<script src="js/jquery.parallax.js"></script>
		<script src="js/jquery.mCustomScrollbar.js"></script>
		<script>
			jQuery(document).ready(function() {
				$('#parallax .parallax-layer').parallax({
					mouseport : jQuery('#parallax')
				});
				$content1 = $("#content1");
				$content2 = $("#content2");
				$content3 = $("#content3");

				$(".scroll_bar").mCustomScrollbar({
					scrollEasing : "easeOutQuint",
					autoDraggerLength : false
				});

				/*$("#arrow_from1_to2").click(function() {
					$content1.hide();
					$content3.hide();
					$content2.show();
					$(".slider").addClass("step2");
				}).unbind("click");*/
				
				$("#arrow_from2_to1").click(function() {
					$content1.show();
					$content2.hide();
					$content3.hide();
					$(".slider").removeClass("step2");
				});
				
				$("#arrow_from2_to3").click(function() {
					$content1.hide();
					$content2.hide();
					$content3.show();
					$(".slider").addClass("step3");
				});
				
				$("#arrow_from3_to2").click(function() {
					$content1.hide();
					$content2.show();
					$content3.hide();
					$(".slider").removeClass("step3");
				});
				
				$("#template_chosen li").click(function(){
					var obj = $(this).attr("rel");
					$(".bottle_template").hide();
					$(obj).show();
					var tempId = $(this).data("templateid");
					$("#arrow_from1_to2").unbind("click").bind("click", function(){
						$content1.hide();
						$content3.hide();
						$content2.show();
						$(".slider").addClass("step2");
					});
					
					$(".text1").click(function(){
						$(".form_right_sub textarea").val($("#master_text1").val()).focus();
						$("#master_text_num").val(1);
					});
					
					$(".text2").click(function(){
						$(".form_right_sub textarea").val($("#master_text2").val()).focus();
						$("#master_text_num").val(2);
					});
					
					$("#master_template").val(tempId);
				});
				
				$("#topic_chosen li").click(function(){
					var obj = $(this);
					var topic_id = obj.data("topic-id");
					
					$("#master_topic").val(topic_id);
					$.ajax({
						url:"get_image_by_topic.php",
						data:({topic_id:topic_id}),
						type:"post",
						dataType:"json",
						success:function(data){
							
						}
					});
				});
				
				$("#image_chosen li").click(function(){
					var obj = $(this);
					var image_id = obj.data("image-id");
					$("#master_image").val(image_id);
				});
				
				$("#quote li").click(function(){
					var text = $(this).text();
					$(".form_right_sub textarea").val("").val(text).focus();
					var text_current = $("#master_text_num").val();
					$("#master_text"+text_current).val(text);
				});
				
				$(".form_right_sub textarea").keyup(function(){
					var text = $(this).val();
					var text_current = $("#master_text_num").val();
					$("#master_text"+text_current).val(text);
				});
			});
		</script>
	</body>
</html>
