<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width;minimum-scale=0.5,maximum-scale=1.0; user-scalable=1;" />
	<title>Untitled Document</title>
	<link rel="stylesheet" type="text/css" media="all" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/text.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/style_creative.css" />
    
    <link rel="stylesheet" type="text/css" media="all" href="css/responsive.css" />
	</head>

	<body >
<header>
      <div class="bg_header"></div>
      <nav>
    <ul>
    	<li> <a class="logo"></a></li>
		<li> <a class="active"> TRANG CHỦ </a></li>|
		<li> <a href="about_page.html"> GIỚI THIỆU </a></li>|
		<li> <a href="creative.php"> SÁNG TẠO </a> </li>|
		<li> <a href="gallery_page.html"> BỘ SƯU TẬP </a></li>
     </ul>
  </nav>
    </header>
<section style="height:100%">
      <article class="wrapper parallax-viewport" id="parallax">
      <div class="bottle"></div>
    <div class="bg_content_1 creative"></div>
     <div class="bg_content_3 ">
          <div class="wrapp_creative_content">
          <a href="#" class="arrow_creative"></a>
          	<div class="title_creative">
            	<img src="images/new_year/title_creative.png" width="491" height="97"/>
            </div>
            <ul class="content_creative">
            	<li><img src="images/creative/img_1.jpg" width="119" height="183"/></li>
                <li><img src="images/creative/img_2.jpg" width="119" height="183"/></li>
                <li><img src="images/creative/img_3.jpg" width="119" height="183"/></li>
                <li><img src="images/creative/img_1.jpg" width="119" height="183"/></li>
                <li><img src="images/creative/img_3.jpg" width="119" height="183"/></li>
                <li><img src="images/creative/img_2.jpg" width="119" height="183"/></li>
            </ul>
          </div>
        </div>
    
  </article>
    </section>
<footer><div class="wrapp_sns">
    	<a href="#" class="btn_sns"></a><a href="#">SHARE ON</a><a href="#" class="btn_sns_f"></a><a href="#" class="btn_sns_g"></a><a href="#" class="btn_sns_t"></a>
    </div> </footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script> 
<script src="js/jquery.event.frame.js"></script> 
<script src="js/jquery.parallax.js"></script> 
<script>
  jQuery(document).ready(function(){
    jQuery('#parallax .parallax-layer')
    .parallax({
      mouseport: jQuery('#parallax')
    });
  });
  </script>
</body>
</html>
