<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width;minimum-scale=0.5,maximum-scale=1.0; user-scalable=1;" />
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" media="all" href="css/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/style_creative_sub.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/responsive.css" />
<link href="css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
</head>

<body >
<header>
  <div class="bg_header"></div>
  <nav>
    <ul>
      <li> <a href="home_page.html"> HOME </a></li>
      <li> <a href="creative_page.html"> CREATIVE </a> </li>
      <li> <a class="logo active" href="creative_page_sub.html"></a></li>
      <li> <a href="#"> GALLERY </a></li>
      <li> <a href="#"> CONTACT </a></li>
    </ul>
  </nav>
</header>
<section style="height:100%">
  <article class="wrapper parallax-viewport" id="parallax">
    <div class="bottle_2"></div>
    <div class="bg_content_1 martell parallax-layer"></div>
    <div class="bg_content_2 parallax-layer"></div>
    <div class="bg_content_4 martell parallax-layer"></div>
    <div class="bg_content_3 ">
      <div class="wrapp_creative_content_sub">
      <a class="arrow_creative_sub"></a>
      <a class="arrow_creative_sub_1"></a>
        <div class="title_creative_sub"> <img src="images/creative/title_creative_sub.png" width="465" height="45"/> </div>
        <ol class="creative_left_sub">
          <li>
            <div class="title_left_sub">
              <h1>CHỌN CHỦ ĐỀ</h1>
            </div>
            <ul class="content_creative_sub">
              <li><a href="#"><img src="images/creative/items.png" width="87" height="86"/></a></li>
              <li><a href="#"><img src="images/creative/items.png" width="87" height="86"/></a></li>
              <li><a href="#"><img src="images/creative/items.png" width="87" height="86"/></a></li>
              <li><a href="#"><img src="images/creative/items.png" width="87" height="86"/></a></li>
              <li><a href="#"><img src="images/creative/items.png" width="87" height="86"/></a></li>
              <li><a href="#"><img src="images/creative/items.png" width="87" height="86"/></a></li>
            </ul>
          </li>
          <div class="space30"></div>
          <div class="clear"></div>
          <li>
            <div class="title_left_sub">
              <h1>CHOOSE YOUR IMAGE</h1>
            </div>
            <ul class="content_creative_sub_1">
            <div class="ar_sub_1"></div>
            <div class="ar_sub_2"></div>
              <li><a href="#"><img src="images/creative/kind_of/1.png" width="106" height="104"/></a></li>
              <li><a href="#"><img src="images/creative/kind_of/2.png" width="106" height="104"/></a></li>
              <li><a href="#"><img src="images/creative/kind_of/3.png" width="106" height="104"/></a></li>
              <li><a href="#"><img src="images/creative/kind_of/4.png" width="106" height="104"/></a></li>
              <li><a href="#"><img src="images/creative/kind_of/5.png" width="106" height="104"/></a></li>
              <li><a href="#"><img src="images/creative/kind_of/6.png" width="106" height="104"/></a></li>
            </ul>
          </li>
        </ol>
        <ol class="creative_right_sub">
          <li>
            <div class="title_left_sub">
              <h1>TYPE YOUR TEXT</h1>
            </div>
            <form class="form_right_sub">
              <textarea name="" title="">Type your text here....</textarea>
              <button type="button" value="Submit" title="" ></button>
            </form>
          </li>
          <div class="clear"></div>
          <div class="space30"></div>
          <style type="text/css">

		</style>
          <li>
            <div class="title_left_sub">
              <h1>CHOOSE OUR QUOTE</h1>
            </div>
            <ul class="content_creative_sub_4 scroll_bar">
              <li><span>1. You are special, you are unique; may your Christmas be also as special and unique as you are! </span></li>
              <li><span>2. You are special, you are unique; may your Christmas be also as special and unique as you are! </span></li>
              <li><span>3. You are special, you are unique; may your Christmas be also as special and unique as you are! </span></li>
              <li><span>4. You are special, you are unique; may your Christmas be also as special and unique as you are! </span></li>
              <li><span>5. You are special, you are unique; may your Christmas be also as special and unique as you are! </span></li>
              <li><span>6. You are special, you are unique; may your Christmas be also as special and unique as you are! </span></li>
              <li><span>7. You are special, you are unique; may your Christmas be also as special and unique as you are! </span></li>
            </ul>
          </li>
        </ol>
        <div class="clear">asdsd</div>
      </div>
    </div>
  </article>
</section>
<footer> </footer>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script> --> 
<script src="js/jquery.event.frame.js"></script> 
<script src="js/jquery.parallax.js"></script> 
<script>
  jQuery(document).ready(function(){
    jQuery('#parallax .parallax-layer')
    .parallax({
      mouseport: jQuery('#parallax')
    });
  });
  </script> 
<!-- custom scrollbars plugin --> 
<script src="js/jquery.mCustomScrollbar.js"></script> 
<script>
		(function($){
			$(window).load(function(){
				/* custom scrollbar fn call */
				$(".content_creative_sub_4").mCustomScrollbar({
					scrollEasing:"easeOutQuint",
					autoDraggerLength:false
				});
			});
		})(jQuery);
	</script>
</body>
</html>
