<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" media="all" href="css/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/style.css" />

</head>

<body >
<header>
<div class="bg_header"></div>
  <nav>
    <ul>
      <li> <a href="#"> HOME </a></li>
      <li> <a href="#"> CREATIVE </a> </li>
      <li> <a class="logo" href="#"></a></li>
      <li> <a href="#"> GALLERY </a></li>
      <li> <a href="#"> CONTACT </a></li>
    </ul>
  </nav>
</header>
<section>
  <article class="wrapper">
    <div class="bg_content_1"></div>
    <div class="bg_content_2"></div>
    <div class="bg_content_3">
      <div class="wrapp_content">
        <h1>Martell V.S.O.P</h1>
        <h2>–</h2>
        <h2>Hơn cả kiệt tác…</h2>
        <span>
        	Một thông điệp của sự sáng tạo và đam mê vô tận,<br />
            Martell V.S.O.P sẽ đưa bạn vào hành trình kiến tạo đầy hứng khởi để cùng tạo nên cho riêng mỗi người những kiệt tác độc đáo của nghệ thuật chưng cất công đến từ nước Pháp hoa lệ và lãng mạn.<br />
Kiệt tác Martell V.S.O.P do chính bạn kiến tạo là thông điệp vô cùng ý nghĩa dành chon hững người thân thương nhất. Một lời chúc chân thành, ấm áp và đầy tinh tế sẽ là một món quà tao nhã bất ngờ dành cho những ngày cuối năm se lạnh.
Hãy cùng Martell V.S.O.P chờ đó nnhững phiên bản đặc biệt do chính bạn tạo nên vào dịp Giáng Sinh 2012!<br />
Nhập email hoặc số điện thoại của bạn ngay để trở thành một trong những người đầu tiên kiến tạo kiệt tác Martell V.S.O.P tại Việt Nam.

        </span>
      </div>
    </div>
    <div class="bg_content_4"></div>
    <div class="bottle"></div>
  </article>
</section>
<footer> </footer>
</body>
</html>
