<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width;minimum-scale=0.5,maximum-scale=1.0; user-scalable=1;" />
	<title>Untitled Document</title>
	<link rel="stylesheet" type="text/css" media="all" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/text.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/style_100.css" />
	<style type="text/css" media="screen, projection">

</style>
	</head>

	<body >
<header>
      <div class="bg_header"></div>
      <nav>
    <ul>
          <li> <a class="active" href="home_page.html"> HOME </a></li>
          <li> <a href="creative_page.html"> CREATIVE </a> </li>
          <li> <a class="logo" href="#"></a></li>
          <li> <a href="#"> GALLERY </a></li>
          <li> <a href="#"> CONTACT </a></li>
        </ul>
  </nav>
    </header>
<section style="height:100%">
      <article class="wrapper parallax-viewport" id="parallax">
    <div class="bg_content_1 parallax-layer"></div>
    <div class="bg_content_2 parallax-layer"></div>
   <div class="bg_content_3 parallax-layer">
          <div class="wrapp_content">
        <h1>Martell V.S.O.P</h1>
        <h2>–</h2>
        <h2>Hơn cả kiệt tác…</h2><br />
        <span> Một thông điệp của sự sáng tạo và đam mê vô tận,<br />
            Martell V.S.O.P sẽ đưa bạn vào hành trình kiến tạo đầy hứng khởi để cùng tạo nên cho riêng mỗi người những kiệt tác độc đáo của nghệ thuật chưng cất công đến từ nước Pháp hoa lệ và lãng mạn.<br />
            Kiệt tác Martell V.S.O.P do chính bạn kiến tạo là thông điệp vô cùng ý nghĩa dành chon hững người thân thương nhất. Một lời chúc chân thành, ấm áp và đầy tinh tế sẽ là một món quà tao nhã bất ngờ dành cho những ngày cuối năm se lạnh.
            Hãy cùng Martell V.S.O.P chờ đó nnhững phiên bản đặc biệt do chính bạn tạo nên vào dịp Giáng Sinh 2012!<br />
            Nhập email hoặc số điện thoại của bạn ngay để trở thành một trong những người đầu tiên kiến tạo kiệt tác Martell V.S.O.P tại Việt Nam. </span> </div>
        </div>
     <div class="bg_content_4 parallax-layer"></div>
    <div class="bottle"></div>
  </article>
    </section>
<footer> </footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script> 
<script src="js/jquery.event.frame.js"></script> 
<script src="js/jquery.parallax.js"></script> 
<script>
  jQuery(document).ready(function(){
    jQuery('#parallax .parallax-layer')
    .parallax({
      mouseport: jQuery('#parallax')
    });
  });
  </script>
</body>
</html>
