.bottle_template{
	width: 80px;
	height:123px;
	margin:0 auto;
	background-size:80px 123px !important;
}

.bottle_template#template_1{
	background:url(../images/creative/img_1.jpg) no-repeat;
}

.bottle_template#template_2{
	background:url(../images/creative/img_2.jpg) no-repeat top left;
}

.bottle_template#template_3{
	background:url(../images/creative/img_3.jpg) no-repeat top left;
}

.bottle_template#template_4{
	background:url(../images/creative/img_4.jpg) no-repeat top left;
}

.bottle_template#template_5{
	background:url(../images/creative/img_5.jpg) no-repeat top left;
}

.bottle_template .bottle_template_img{
	width:80px;
	height:60px;
}

.bottle_template .bottle_template_textlarge{
	width:80px;
	height:60px;
}

.bottle_template .bottle_template_textsmall{
	width:80px;
	height:30px;
}