.no-image{
	background:none !important;
}

.bottle_template{
	width: 290px;
	height:253px;
	margin:0 auto;
}

.bottle_template .image_holder{
	width:290px;
	position:relative;
}


.bottle_template .image_holder img{
	max-width: 290px !important;
	display: block;
	margin: auto;
	position:absolute;
	top:0;bottom:0;left:0;right:0;
}


.bottle_template .text{
	width:290px;
	color:#E8B876;
	padding:5px 3px;
	text-align: center;
	vertical-align: middle;
	font-family: "Times New Roman";
	font-style: italic;
}

.bottle_template .text img{
	vertical-align: middle;
	width:1px;
}

.bottle_template .bottle_template_imglarge{
	height:125px;
	background:url(../images/creative/template/bird.png) no-repeat center;
}
.bottle_template .bottle_template_imglarge img{	max-height: 125px !important;}

.bottle_template .bottle_template_imgsmall{
	height:90px;
	background:url(../images/creative/template/bird.png) no-repeat center;
}
.bottle_template .bottle_template_imgsmall img{	max-height: 90px !important;}

.bottle_template .bottle_template_imgfull{
	height:253px;
	background:url(../images/creative/template/bird.png) no-repeat center;
}
.bottle_template .bottle_template_imgfull img{	max-height: 213px !important;}

.bottle_template .bottle_template_textlarge{
	height:125px;
	background:url(../images/creative/template/big_text.png) no-repeat center;
}

.bottle_template_textsmall img{
	height:125px;
}

.bottle_template .bottle_template_textsmall{
	height:60px;
	background:url('../images/creative/template/small_text.png') no-repeat center;
}

.bottle_template_textsmall img{
	height:60px;
}

.bottle_template .bottle_template_textfull{
	height:253px;
	background:url('../images/creative/template/huge_text.png') no-repeat center;
}

.bottle_template_textfull{
	height:253px;
}

.bottle_template_textsmall img{
	height:253px;
}


