html, body {
	height:100%;
	}
.bg_header {
	position:relative;
	top:0;
	left:0;
	margin-bottom: -115px;
	width:100%;
	height:96px;
	/*background-image:url(../images/common/bg_header.png);
	background-repeat:no-repeat;
	background-size:100% 127px;*/
	background-color:#04032b;
	box-shadow:0 2px 15px #000000;
	z-index:10;
}
footer {
	position:relative;
	top:0;
	left:0px;

	width:100%;
	height:70px;
	/*background-image:url(../images/common/bg_footer.png);
	background-repeat:no-repeat;
	background-size:100% 124px;*/
	background-color:#04032b;
	box-shadow:0 -2px 15px #000000;
	z-index:10;
}
nav {
	position:absolute;
	top:0px;
	left:-105px;
	width:100%;
	height:120px;
	text-align:center;
	padding-top: 5px;
	z-index:15;
}
nav ul li a {
	color:#FFFFFF;
}
nav ul li a:hover {
	color: yellow;
}
nav ul li a.active {
	color: yellow;
}
nav ul li {
	display:inline-block;
	padding: 10px 20px;
}

.wrapper {
	position:relative;
	top:0;
	left:0;
}
.parallax-viewport {
	width: 100%;
	max-width: 100%;
	height: 100%;
	min-height:100%;
	position: relative;     /* relative, absolute, fixed */
	overflow: hidden;
}

.parallax-layer {
	position: absolute;
}

.logo {
	display:block;
	margin-bottom:-25px;
	width:131px;
	height:63px;
	background-image:url(../images/common/logo.png);
	background-repeat:no-repeat;
	background-size:131px 63px;
}
	
.ball_chir{
	position:absolute;
	bottom: -45px;
	left:125px;
	width:361px;
	height:272px;
	background-image:url(../images/common/ball_chir.png);
	background-repeat:no-repeat;
	background-size:361px 272px;
	z-index:11;
	}
.wrapp_content h1{
	line-height:10px;
	}
.wrapp_content h2{
	line-height:20px;
	}
/*space*/
.space10{
	width:100%;
	height:10px;
	}
.space20{
	width:100%;
	height:20px;
	}
.space30{
	width:100%;
	height:30px;
	}
.content_creative_sub, .content_creative_sub_1{
	position:relative;}
.wrapp_sns{
	position:absolute;
	top:20px;
	right:50px;
	width:225px;
	height:32px;
}
.wrapp_sns a{
	color:#FFF;}
.btn_sns, .btn_sns_f, .btn_sns_g, .btn_sns_t{
	display:inline-block;
	width:33px;
	height:33px;
	background-image:url(../images/new_year/btn_sns.png);
	background-size:142px 33px;
	background-repeat:no-repeat;
	background-position:-115px 0px;
	overflow:hidden;
	vertical-align:middle;
	margin-left:5px;
	}
.btn_sns_f{
	background-position:0px 0px;
	}
.btn_sns_g{
	background-position:-41px 0px;
	}
.btn_sns_t{
	background-position:-80px 0px;
	}
.btn_creative{
	position:absolute;
	bottom:70px;
	left:725px;
	width:148px;
	height:62px;
	background-image:url(../images/new_year/btn_creative.png);
	background-size:148px 62px;
	background-repeat:no-repeat;
	}