/*COMMON*/

section{
	height:656px !important;
	
}

.bg_content_1_holder{
	overflow:hidden;
	position: absolute;
	top: 25px;
}

.bg_content_1_slider{
	width:300%;
	-webkit-transition:all 1.0s ease-in-out;
  	-moz-transition:all 1.0s ease-in-out;
  	-o-transition:all 1.0s ease-in-out;
  	transition:all 1.0s ease-in-out;	
}

.bg_content_1 {
	width:100%;
	height:100%;
	background-position:-100px 0;
	z-index:0;
}

.bg_content_1.step1 {
	background-image:url(../images/new_year/bg_content_creative.jpg);
}

.bg_content_1.step2 {
	background-image:url(../images/new_year/bg_content_creative_sub.jpg);
}

.bg_content_1.step3 {
	background-image:url(../images/new_year/bg_content_creative_sub.jpg);
}
.mCSB_draggerContainer{
	display:block !important;
}
.bottle {
	position:relative;
	left:20%;
	width:351px;
	height:656px;
	padding-top: 260px;
	background-image:url(../images/new_year/bottle_ori.png);
	background-repeat:no-repeat;
	background-size:351px 656px;
	z-index:3;
	margin:0 auto;
	bottom: 35px;
	-webkit-transition:all 1.0s ease-in-out;
  	-moz-transition:all 1.0s ease-in-out;
  	-o-transition:all 1.0s ease-in-out;
  	transition:all 1.0s ease-in-out;
}
/**************** CONTENT 3 ****************/
.bg_content_3_holder{
	position: absolute;
	width: 100%;
	height: 656px;
	top: 40px;
	z-index: 2;
}

.bg_content_3.step1{
	width:100%;
	height:100%;
	background-image:none;
	z-index:13;
}

.wrapp_creative_content {
	position: relative;
	text-align:center;
	top: 14%;
	left: 70px;
	width: 500px;
	height:auto;
	color:#fff;
	background-image:none;
	margin:0 auto;
}
.title_creative{
	width:100%;
	height:45px;
	margin-bottom:50px;
	}
.info_creative{
	width:450px;
	margin:0 auto;
	margin-bottom:10px;
	color:#081744;
	font-size:larger;
}
.content_creative li{
	display:inline-block;
	width:119px;
	height:183px;
	margin:15px 20px;
	box-shadow:1px 1px 5px #333333;
	cursor:pointer;
	overflow: hidden;
	}
.content_creative li img{position: relative;}
.arrow_creative{
	position:absolute;
	top:270px;
	right:-70px;
	width:33px;
	height:75px;
	background-image:url(../images/new_year/arrow_creative.png);
	background-size:33px 75px;
	background-repeat:no-repeat;
	z-index:15;
	cursor:pointer}
.arrow_creative:hover{
	opacity:0.5;}

/*************************************************/	
/*********************** CONTENT 2 **************/
/***********************************************/
.bg_content_3.step2{
	margin-top: 105px;
}

#quote{
	position: relative;
	float: left;
}

.wrapp_creative_content_sub {
	position: relative;
	text-align:center;
	top: 22%;
	width: 1160px;
	height:auto;
	color:#fff;
	background-image:none;
	margin:0 auto;
/*	background-color:rgba(0,0,255,0.5);*/
}
.title_creative_sub{
	position:relative;
	left:200px;
	width:542px;
	height:45px;
	margin-bottom:30px;
	}
.creative_left_sub{
	position:relative;
	float:left;
	width:400px;
/*	background-color:rgba(0,255,255,0.5);*/
	}	
.creative_right_sub{
	position:relative;
	float:right;
	width:400px;
/*	background-color:rgba(0,255,255,0.5);*/
	}
	
.title_left_sub{
	margin-bottom:10px;
	color:#e5f6ff;
	text-shadow:0 0 5px #01fcff;
}
.title_left_sub h1{
	font-weight:normal;}
.content_creative_sub li{
	display:inline-block;
	width:87px;
	height:87px;
	margin: 0px 15px;
	}
.content_creative_sub_4 li{
	width:378px;
	padding:10px 0;
	margin-left:10px;
	border-bottom:dashed 1px #FFFFFF;
	}
.content_creative_sub_1 li{
	display:inline-block;
	width:106px;
	height:104px;
	margin-bottom:5px;
	}
.arrow_creative_sub{
	position:absolute;
	top:230px;
	right:-70px;
	width:33px;
	height:75px;
	background-image:url(../images/common/arrow_creative.png);
	background-size:33px 75px;
	background-repeat:no-repeat;
	z-index:15;}
.arrow_creative_sub, .arrow_creative_sub_1{
	position:absolute;
	top:230px;
	width:33px;
	height:75px;
	background-image:url(../images/new_year/arrow_creative_sub.png);
	background-size:33px 75px;
	background-repeat:no-repeat;
	z-index:15;}
	
.ar_sub_1, .ar_sub_2{
	position:absolute;
	top:90px;
	width:39px;
	height:39px;
	background-image:url(../images/common/ar_sub_1.png);
	background-size:39px 39px;
	background-repeat:no-repeat;
	z-index:15;}
.ar_sub_1{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	left:-2px;
	}
.ar_sub_2{
	right:-2px;
	}
.ar_sub_1:hover, .ar_sub_2:hover{
	background-image:url(../images/common/ar_sub_2.png);
	}
.arrow_creative_sub{
	right:-50px;
	}
.arrow_creative_sub_1{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	left:-50px;
	}
.arrow_creative_sub:hover, .arrow_creative_sub_1:hover{
	opacity:0.5;}
	
.bottle_2 {
	position:absolute;
	left:-10px;
	width:228px;
	height:720px;
	background-image:url(../images/common/bottle_ori_1.png);
	background-repeat:no-repeat;
	background-size:228px 720px;
	z-index:11;
	margin:0 auto;
	bottom: 35px;
}
.form_right_sub{
	margin:20px auto;
	width:360px;
	}
.form_right_sub textarea,
.form_right_sub .textarea{
	margin-left:-3px;
	min-height:100px;
	max-height:100px;
	padding:10px;
	max-width:360px;
	max-height:120px;
	border-radius:5px;
	border:1px solid #666;
	color:#000;
	}
.form_right_sub button{
	margin-top:10px;
	float:right;
	width:103px;
	height:30px;
	-webkit-appearance:none;
	background-image:url(../images/common/btn_submit.png);
	background-repeat:no-repeat;
	background-size:103px 30px;
	border:none;
	background-color:rgba(255,255,255,0);
	}
.form_right_sub button:hover{
	opacity:0.7;
	}
	
.decor_img{
	max-width:106px;
	max-height:104px;
}

#image_chosen{
	overflow:hidden;
	height: 210px;
}

#image_chosen li{
	float: left;
	margin: 0 10px;
}

.title_martell{
	position:relative;
		width:395px;
	height:42px;
	background-image:url(../images/new_year/title_martell.png);
	background-repeat:no-repeat;
	background-size:395px 42px;
	margin-bottom:40px;
	}
/**************** CONTENT 3 ********************/
.bg_content_3.step3{
	margin-top: 90px;
}
.wrapp_content.contact{
	position: relative;
	right: 75px;
	width: 860px;
	height: 497px;
	background-image:url(../images/new_year/bg_content_contact_3.png);
	background-repeat:no-repeat;
	color:#362f2d;
	margin:0 auto;
}
.title_contact {
	position: relative;
	margin-right: 50px;
	width: 395px;
	height: 42px;
	background-image: url(../images/new_year/title_martell.png);
	background-repeat: no-repeat;
	background-size: 395px 42px;
	margin: 0 auto;
	margin-left: 350px;
}
.creative_left_sub {
	position:relative;
	float:left;
	width:400px;/*	background-color:rgba(0,255,255,0.5);*/
	}
.creative_right_sub {
	position:relative;
	float:right;
	width:400px;/*	background-color:rgba(0,255,255,0.5);*/
	}
.title_left_sub {
	margin-bottom:10px;
}
.title_left_sub h1 {
	font-weight:normal;
	/*font-size: 18px;*/
}
.content_creative_sub li {
	display:inline-block;
	width:87px;
	height:87px;
	margin: 0px 15px;
	cursor:pointer;
}
.content_creative_sub_4 li {
	width:378px;
	padding:10px 0;
	margin-left:10px;
	border-bottom:dashed 1px #FFFFFF;
	cursor:pointer;
}
.content_creative_sub_1 li {
	display:inline-block;
	width:106px;
	height:104px;
	margin-bottom:5px;
	cursor:pointer;
}
.arrow_creative_sub {
	position:absolute;
	top:230px;
	right:-70px;
	width:33px;
	height:75px;
	background-image:url(../images/new_year/arrow_creative.png);
	background-size:33px 75px;
	background-repeat:no-repeat;
	z-index:15;
}
.arrow_creative_sub, .arrow_creative_sub_1 {
	cursor:pointer;
	position:absolute;
	top:230px;
	width:33px;
	height:75px;
	background-image:url(../images/new_year/arrow_creative.png);
	background-size:33px 75px;
	background-repeat:no-repeat;
	z-index:15;
}
.ar_sub_1, .ar_sub_2 {
	position:absolute;
	top:90px;
	width:39px;
	height:39px;
	background-image:url(../images/common/ar_sub_1.png);
	background-size:39px 39px;
	background-repeat:no-repeat;
	z-index:15;
}
.ar_sub_1 {
	-webkit-transform:rotate(180deg);
	left:-2px;
}
.ar_sub_2 {
	right:-2px;
}
.ar_sub_1:hover, .ar_sub_2:hover {
	background-image:url(../images/common/ar_sub_2.png);
}
.arrow_creative_sub {
	right:-50px;
}
.arrow_creative_sub_1 {
	-webkit-transform:rotate(180deg);
	left:-50px;
}
.arrow_creative_sub:hover, .arrow_creative_sub_1:hover {
	opacity:0.5;
}

.form_right_sub {
	margin:20px auto;
	width:360px;
}
.form_right_sub textarea {
	margin-left:-3px;
	width:100%;
	height:120px;
	border-radius:5px;
	border-color:#003300;
}
.form_right_sub button {
	margin-top:10px;
	float:right;
	width:103px;
	height:30px;
	-webkit-appearance:none;
	background-image:url(../images/common/btn_submit.png);
	background-repeat:no-repeat;
	background-size:103px 30px;
	border:none;
	background-color:rgba(255,255,255,0);
}
.form_right_sub button:hover {
	opacity:0.7;
}
.wrapp_content input[type="text"] {
	border:none;
	background:none;
}

/********************** CONTACT FORM ************************/
#same_from_to{
	margin:15px 0 0 438px;
	width: 140px;
	height: 20px;
	padding-top: 7px;
}

.contact_address, .contact_address_1{
	text-indent: 65px;
	line-height: 23px;
	height: 39px;
	font-size:13px;
	font-family: 'Arial';
}

.wrapp_content .contact_name {
	width: 220px;
	margin: 90px 0 0 115px;
}

.wrapp_content .contact_address {
	width: 260px;
	margin: 6px 0 0 65px;
}

.wrapp_content .contact_tell {
	margin: 14px 0 0 98px;
	width: 240px;
}

.wrapp_content .contact_email {
	margin:9px 0 0 125px;
	width: 220px;
}

.wrapp_content .contact_to {
	width:230px;
}

.wrapp_content  .contact_name_1 {
	width:230px;
	margin: 7px 0 0 500px;
}
.wrapp_content.contact .contact_address_1 {
	width: 280px;
	height: 40px;
	margin: 6px 0 0 450px;
}

.wrapp_content.contact .contact_tel_1 {
	width: 195px;
	margin: 14px 0 0 485px;
}


.wrapp_content.contact .contact_email_1 {
	width: 230px;
	margin: 9px 0 0 510px;
}

.wrapp_content .contact_submit{
	position:absolute;
	display:block;
	left: 190px;
	width:127px;
	height:36px;
	background: url(../images/new_year/button_payment.png) no-repeat;
	border:none;
	cursor:pointer;
}

.wrapp_content .contact_submit.gallery_save{background: url(../images/new_year/chiase_btn.png) no-repeat;}

/************** BACKGROUND 4 **************/
.bg_content_4_holder{
	position: absolute;
	width: 105%;
	height: 107%;
	top:0px;
	left:0px;
	z-index: 2;
}

.bg_content_4{
	width:101%;
	height:102%;
	top:150px;
	margin:0;padding: 0;
	float:left;
}

.bg_content_4.step1{
	background-image:url(../images/common/bg_content_creative_4.png);
	background-size:1514px 744px;
	background-position:38% 190px;
	background-repeat:no-repeat;
}

.bg_content_4.step2{
	background-image:url(../images/common/bg_content_creative_sub_4.png);
	background-size:1520px 744px;
	background-position:38% 190px;
	background-repeat:no-repeat;
}
.bg_content_4.step3 {
	background-image:url(../images/common/bg_content_contact_4.png);
	background-size:1520px 744px;
	background-position:38% 190px;
	background-repeat:no-repeat;
}
	
/* Response */
@media only screen and (max-width: 1590px) {
	html, body {
		height:auto;
	}
	
	.bg_content_1_holder{
	width:100%;
height:656px;
background-position:0 115px;
	}
	
	.bg_content_1_slider{
		width:5466px;
		-webkit-transition:all 1.0s ease-in-out;
	  	-moz-transition:all 1.0s ease-in-out;
	  	-o-transition:all 1.0s ease-in-out;
	  	transition:all 1.0s ease-in-out;	
	}
	
	
	.bg_content_1_slider.step2{		
		-webkit-transform: translateX(-1822px);	
		-moz-transform:translateX(-1822px);
		transform: translateX(-1822px);
	}
	.bg_content_1_slider.step3{		
		-webkit-transform: translateX(-3644px);	
		-moz-transform:translateX(-3644px);
		transform: translateX(-3644px);
	}
	
	.bg_content_1 {
		background-position:-150px 0;
		padding:0;
	  	margin:0;
	  	width:1822px;
	  	height:732px;
		float:left; 
	}
	.bg_content_1.step1 {
		background-size:1822px 732px;
		background-position:-95px 0;
	}
	.bg_content_1.step2{
		background-size:1822px 732px;
		background-position:-200px  0;
	}
	
	.bg_content_1.step3{
		background-size:1822px 732px;
		background-position: -150px 0;
	}
	
	.bottle, .bottle.step1 {
		top:67px; left:-350px;
		}
	.bottle.step2{top:80px;	left:-10px;}
	.bottle.step3{top:80px; left:360px;}
	
	.bg_content_2_holder{	top: 105px; }	
	.bg_content_2_slider{	width:3999px;}
	
	
	.bg_content_2_slider.step2{		
		-webkit-transform: translateX(-1333px);	
		-moz-transform:translateX(-1333px);
		transform: translateX(-1333px);
	}
	.bg_content_2_slider.step3{		
		-webkit-transform: translateX(-2666px);	
		-moz-transform:translateX(-2666px);
		transform: translateX(-2666px);
	}
	
	.bg_content_4{		width:1674px; height: 1030px; }
	.bg_content_4_slider{	width:5022px;}
	
	.bg_content_4.step1{		background-size: 1674px 806px;		background-position: -220px 120px;	}
	.bg_content_4.step2{		background-position: -10px 160px;	}
	.bg_content_4.step3{		background-position: -90px 120px;	}
	
	
	.bg_content_4_slider.step2{ 
		-webkit-transform: translateX(-1674px); 
		-moz-transform:translateX(-1674px);
		transform: translateX(-1674px);
	}
	.bg_content_4_slider.step3{ 
		-webkit-transform: translateX(-3348px); 
		-moz-transform:translateX(-3348px);
		transform: translateX(-3348px);
	}
	
}


/*
.bg_content_2 {
	top:105px;
}

.bg_content_4 {
	width:1285px;
	background-size:1674px 806px;
	background-position:85% 120px;
}
.bg_content_4.creative {
	background-position:-220px  120px;
}
.bg_content_4.martell  {
	background-position:-60px 120px;
}
.bg_content_4.contact  {
	background-position:-200px 120px;
}
.bg_content_4.gallery{
	background-size:1722px 734px;
	background-position:-200px 120px;
}
.bg_content_4.about{
	background-position:-70px 145px;
}
.parallax-viewport {
	height: 810px;
	min-height:810px;
}
.bottle {
	position:relative;
	top:25px;
	left:-35%;
	z-index:11;
}
.bottle_1 {
	position:relative;
	top:80px;
	left:-320px;	
}
.bottle_2 {
	position:relative;
	top:80px;
	left:-10px;
	z-index:11;
}
.bottle_3 {
	position:relative;
	top:80px;
	left:315px;
	z-index:14;
}
.bell {
	position:relative;
	top:215px;
	left:295px;
	width:252px;
	height:256px;
	background-image:url(../images/common/bell.png);
	background-repeat:no-repeat;
	background-size:252px 256px;
	margin:0 auto;
}
.wrapp_content {
	position: relative;
	top: 120px;
	left: -50px;
	width: 435px;
	height: 340px;
	padding:147px 154px 0 130px;
	background-size:719px 487px;
	background-repeat:no-repeat;
	color:#362f2d;
	margin:0 auto;
}
.wrapp_content.contact {
	top: 145px;
}
.wrapp_content.gallery{
	width: 1000px;
	left:auto;
	top:190px;
	bottom:0;
	height:50px;
	padding:0;
}*/

/*
@media only screen and (max-width: 1333px) {
html, body {
	height:auto;
}
.bg_content_1 {
	height:740px;
	background-size:1822px 732px;
	background-position:-150px  0;
}
.bg_content_1.creative {
	height:740px;
	background-size:1822px 732px;
	background-position:-115px 0;
}
.bg_content_1.martell{
	height:740px;
	background-size:1822px 732px;
	background-position:-400px 0;
}
.bg_content_2 {
	top:105px;
}
.bg_content_3 {
	/*width:1290px;
	background-size:719px 487px;
	background-position:top center;
}
.bg_content_4 {
	/*width:1285px;
	background-size:1674px 806px;
	background-position:55% 120px;
}
.bg_content_4.creative  {
	background-position:-360px  120px;
}
.bg_content_4.martell  {
	background-position:-100px 120px;
}
.bg_content_4.contact  {
	background-position:-200px 120px;
}
.bg_content_4.gallery{
	background-size:1722px 734px;
	background-position:-200px 120px;
}
.bg_content_4.about{
	background-position:-70px 145px;
}
.parallax-viewport {
	height: 810px;
	min-height:810px;
}
.bottle {
	position:relative;
	top:25px;
	left:-392px;
	z-index:11;
	margin:0 auto;
}
.bottle_1 {
	position:relative;
	top:80px;
	left:-320px;
	z-index:11;
}
.bottle_2 {
	position:relative;
	top:80px;
	left:-10px;
	z-index:11;
}
.bottle_3 {
	position:relative;
	top:80px;
	left:315px;
	z-index:14;
}
.bell {
	position:relative;
	top:215px;
	left:295px;
	width:252px;
	height:256px;
	background-image:url(../images/common/bell.png);
	background-repeat:no-repeat;
	background-size:252px 256px;
	margin:0 auto;
}
.wrapp_content {
	position: relative;
	top: 120px;
	left: -50px;
	width: 435px;
	height: 340px;
	padding:147px 154px 0 130px;
	background-size:719px 487px;
	background-repeat:no-repeat;
	color:#362f2d;
	margin:0 auto;
}
.wrapp_content.contact {
	top: 145px;
}
.wrapp_content.gallery{
	width: 1000px;
	left:auto;
	top:190px;
	bottom:0;
	height:50px;
	padding:0;
}
}
*/

.simple_overlay { 
    display:none;
    z-index:10000;
    background-color:#333;
	width:800px;
    max-height:400px;
    border:1px solid #666;
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
	font-size: 12px;
	padding:8px;
}
 
.simple_overlay .close {
    background-image:url(../images/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}

.simple_overlay .contentWrap{
	max-height:400px;
	overflow-y: scroll;
}