@media only screen and (max-width: 1590px) {
html, body {
	height:auto;
}
.bg_content_1 {
	height:740px;
	background-size:1822px 732px;
	background-position:-150px 0;
}
.bg_content_1.creative {
	height:740px;
	background-size:1822px 732px;
	background-position:-95px 0;
}
.bg_content_1.martell{
	height:740px;
	background-size:1822px 732px;
	background-position:-200px  0;
}
.bg_content_2 {
	top:105px;
}
.bg_content_3 {
	/*width:1290px;*/
	background-size:719px 487px;
	background-position:top center;
}
.bg_content_4 {
	/*width:1285px;*/
	background-size:1674px 806px;
	background-position:85% 120px;
}
.bg_content_4.creative {
	background-position:-220px  120px;
}
.bg_content_4.martell  {
	background-position:-60px 120px;
}
.bg_content_4.contact  {
	background-position:-200px 120px;
}
.bg_content_4.gallery{
	background-size:1722px 734px;
	background-position:-200px 120px;
}
.parallax-viewport {
	height: 810px;
	min-height:810px;
}
.bottle {
	position:relative;
	top:25px;
	left:-35%;
	z-index:11;
}
.bottle_1 {
	position:relative;
	top:80px;
	left:-320px;
	z-index:11;
}
.bottle_2 {
	position:relative;
	top:80px;
	left:-10px;
	z-index:11;
}
.bottle_3 {
	position:relative;
	top:80px;
	left:315px;
	z-index:14;
}
.bell {
	position:relative;
	top:215px;
	left:295px;
	width:252px;
	height:256px;
	background-image:url(../images/common/bell.png);
	background-repeat:no-repeat;
	background-size:252px 256px;
	margin:0 auto;
}
.wrapp_content {
	position: relative;
	top: 120px;
	left: -50px;
	width: 435px;
	height: 340px;
	padding:147px 154px 0 130px;
	background-size:719px 487px;
	background-repeat:no-repeat;
	color:#362f2d;
	margin:0 auto;
}
.wrapp_content.contact {
	top: 145px;
}
.wrapp_content.gallery{
	width: 1000px;
	left:auto;
	top:190px;
	bottom:0;
	height:50px;
	padding:0;
}
}
@media only screen and (max-width: 1333px) {
html, body {
	height:auto;
}
.bg_content_1 {
	height:740px;
	background-size:1822px 732px;
	background-position:-150px  0;
}
.bg_content_1.creative {
	height:740px;
	background-size:1822px 732px;
	background-position:-115px 0;
}
.bg_content_1.martell{
	height:740px;
	background-size:1822px 732px;
	background-position:-400px 0;
}
.bg_content_2 {
	top:105px;
}
.bg_content_3 {
	/*width:1290px;*/
	background-size:719px 487px;
	background-position:top center;
}
.bg_content_4 {
	/*width:1285px;*/
	background-size:1674px 806px;
	background-position:55% 120px;
}
.bg_content_4.creative  {
	background-position:-360px  120px;
}
.bg_content_4.martell  {
	background-position:-100px 120px;
}
.bg_content_4.contact  {
	background-position:-200px 120px;
}
.bg_content_4.gallery{
	background-size:1722px 734px;
	background-position:-200px 120px;
}
.parallax-viewport {
	height: 810px;
	min-height:810px;
}
.bottle {
	position:relative;
	top:25px;
	left:-392px;
	z-index:11;
	margin:0 auto;
}
.bottle_1 {
	position:relative;
	top:80px;
	left:-320px;
	z-index:11;
}
.bottle_2 {
	position:relative;
	top:80px;
	left:-10px;
	z-index:11;
}
.bottle_3 {
	position:relative;
	top:80px;
	left:315px;
	z-index:14;
}
.bell {
	position:relative;
	top:215px;
	left:295px;
	width:252px;
	height:256px;
	background-image:url(../images/common/bell.png);
	background-repeat:no-repeat;
	background-size:252px 256px;
	margin:0 auto;
}
.wrapp_content {
	position: relative;
	top: 120px;
	left: -50px;
	width: 435px;
	height: 340px;
	padding:147px 154px 0 130px;
	background-size:719px 487px;
	background-repeat:no-repeat;
	color:#362f2d;
	margin:0 auto;
}
.wrapp_content.contact {
	top: 145px;
}
.wrapp_content.gallery{
	width: 1000px;
	left:auto;
	top:190px;
	bottom:0;
	height:50px;
	padding:0;
}
}
