@media only screen and (max-width: 1280px) {
.bg_content_1 {
	/*width:1305px;*/
	background-size:1822px 732px;
	background-position:-100px 0;
}
.bg_content_2 {
	/*width:1295px;*/
	background-size:1357px 175px;
	background-position: 10% 0;
}
.bg_content_3 {
	/*width:1290px;*/
	background-size:719px 487px;
	background-position:top center;
}
.bg_content_4 {
	/*width:1285px;*/
	background-size:1674px 806px;
	background-position:77% 0;
}
}

@media only screen and (max-width: 1024px) {
.bg_content_1 {
	/*width:1049px;*/
	background-size:1822px 732px;
	background-position:-100px 0;
}
.bg_content_2 {
	/*width:1039px;*/
	background-size:1357px 175px;
	background-position: 10% 0;
}
.bg_content_3 {
	/*width:1034px;*/
	background-size:719px 487px;
	background-position:top center;
}
.bg_content_4 {
	/*width:1029px;*/
	background-size:1674px 806px;
	background-position:77% 0;
}
/*.bottle{
	left:-390px;
	}*/
}
@media only screen and (max-width: 960px) {
	.bottle{
	left:-425px;
	}
	}
@media only screen and (max-width: 740px) {
.bg_content_1 {
	width:765px;
	background-size:1822px 732px;
	background-position:-100px 0;
}
.bg_content_2 {
	width:755px;
	background-size:1357px 175px;
	background-position: 10% 0;
}
.bg_content_3 {
	width:750px;
	background-size:719px 487px;
	background-position:top center;
}
.bg_content_4 {
	width:745px;
	background-size:1674px 806px;
	background-position:77% 0;
}
}

@media only screen and (max-width: 570px) {

}

/** iPhone only **/
@media screen and (max-device-width: 480px) {

}