html, body {
	height:100%;
	}
.bg_header {
	position:relative;
	top:0;
	left:0;
	margin-bottom: -115px;
	width:100%;
	height:127px;
	background-image:url(../images/common/bg_header.png);
	background-repeat:no-repeat;
	background-size:100% 127px;
	z-index:10;
}
footer {
	position:relative;
	top:0;
	left:0px;
	margin-top: -124px;
	width:100%;
	height:124px;
	background-image:url(../images/common/bg_footer.png);
	background-repeat:no-repeat;
	background-size:100% 124px;
	z-index:10;
}
nav {
	position:absolute;
	top:0px;
	left:0;
	width:100%;
	height:120px;
	text-align:center;
	padding-top: 10px;
	z-index:15;
}
nav ul li a {
	color:#FFFFFF;
}
nav ul li a:hover {
	color: yellow;
}
nav ul li a.active {
	color: yellow;
}
nav ul li {
	display:inline-block;
	padding: 10px 40px;
}
.wrapper {
	position:relative;
	top:0;
	left:0;
}
.parallax-viewport {
	width: 100%;
	max-width: 100%;
	height: 100%;
	min-height:100%;
	position: relative;     /* relative, absolute, fixed */
	overflow: hidden;
}

.parallax-layer {
	position: absolute;
}
.bg_content_1, .bg_content_2, .bg_content_3, .bg_content_4 {
	position:absolute;
	height:100%;
	background-repeat:no-repeat;
	z-index:0;
}
.bg_content_1 {
	width:110%;
	height:110%;
	top:25px;
	left:0;
	background-image:url(../images/common/bg_content_1.jpg);
	background-size:110% 110%;
	z-index:0;
	background-position: 0 -60%;
}
.bg_content_2 {
	width:104%;
	top:13%;
	left:0;
	background-image:url(../images/common/bg_content_2.png);
	background-size:1357px 175px;
	background-position: 30% 0;
	z-index:3;
}
.bg_content_3 {
	width:103%;
	top:0;
	left:0;
	z-index:2;
}
.bg_content_4 {
	width:101%;
	height:102%;
	top:150px;
	left:0;
	background-image:url(../images/common/bg_content_4.png);
	background-size:1674px 806px;
	background-position:38% 190px;
	background-repeat:no-repeat;
	z-index:12;
}
.logo {
	display:block;
	margin-bottom:-25px;
	width:131px;
	height:63px;
	background-image:url(../images/common/logo.png);
	background-repeat:no-repeat;
	background-size:131px 63px;
}
.bell{
	position:relative;
	top:32%;
	left:295px;
	width:252px;
	height:256px;
	background-image:url(../images/common/bell.png);
	background-repeat:no-repeat;
	background-size:252px 256px;
	margin:0 auto;
	}
.bottle {
	position:absolute;
	left:20%;
	width:266px;
	height:756px;
	background-image:url(../images/common/bottle_ori.png);
	background-repeat:no-repeat;
	background-size:266px 756px;
	z-index:11;
	margin:0 auto;
	bottom: 35px;
}
.ball_chir{
	position:absolute;
	bottom: -45px;;
	left:125px;
	width:361px;
	height:272px;
	background-image:url(../images/common/ball_chir.png);
	background-repeat:no-repeat;
	background-size:361px 272px;
	z-index:11;
	}
.wrapp_content {
	position: relative;
	top:23%;
	left: -50px;
	width: 435px;
	height: 340px;
	padding:147px 154px 0 130px;
	background-image:url(../images/common/bg_content_3.png);
	background-size:719px 487px;
	background-repeat:no-repeat;
	color:#362f2d;
	margin:0 auto;
}
.wrapp_content h1{
	line-height:10px;
	}
.wrapp_content h2{
	line-height:20px;
	}