.bg_content_1 {
	background-image:url(../images/common/bg_content_creative_1.jpg);
	background-position:-100px 0;
}
.bg_content_3 {
	background-image:none;
	z-index:13;
}
.bg_content_4 {
	width:101%;
	height:102%;
	top:150px;
	left:0;
	background-image:url(../images/common/bg_content_creative_4.png);
	background-size:1514px 1030px;
	background-position:38% 190px;
	background-repeat:no-repeat;
	z-index:12;
}
.wrapp_creative_content {
	position: relative;
	text-align:center;
	top: 15%;
	left: 20px;
	width: 500px;
	height:auto;
	color:#fff;
	background-image:none;
	margin:0 auto;
}
.title_creative{
	width:100%;
	height:45px;
	margin-bottom:10px;
	}
.info_creative{
	width:450px;
	margin:0 auto;
	margin-bottom:10px;
	}
.content_creative li{
	display:inline-block;
	width:119px;
	height:183px;
	margin:15px 20px;
	box-shadow:1px 1px 5px #333333;
	}
.arrow_creative{
	position:absolute;
	top:230px;
	right:-70px;
	width:33px;
	height:75px;
	background-image:url(../images/common/arrow_creative.png);
	background-size:33px 75px;
	background-repeat:no-repeat;
	z-index:15;}
.arrow_creative:hover{
	opacity:0.5;}
	
.bottle_1 {
	position:absolute;
	left:20%;
	width:228px;
	height:720px;
	background-image:url(../images/common/bottle_ori_1.png);
	background-repeat:no-repeat;
	background-size:228px 720px;
	z-index:11;
	margin:0 auto;
	bottom: 35px;
}
