.bg_header {
	position:relative;
	top:0;
	left:0;
	margin-bottom: -115px;
	width:1440px;
	height:127px;
	background-image:url(../images/common/bg_header.png);
	background-repeat:no-repeat;
	background-size:1440px 127px;
	z-index:10;
}
footer {
	position:relative;
	top:0;
	left:0px;
	margin-top: -124px;
	width:1440px;
	height:124px;
	background-image:url(../images/common/bg_footer.png);
	background-repeat:no-repeat;
	background-size:1440px 124px;
	z-index:10;
}
nav {
	position:absolute;
	top:0px;
	left:0;
	width:1440px;
	height:120px;
	text-align:center;
	padding-top: 10px;
	z-index:15;
}
nav ul li a {
	color:#FFFFFF;
}
nav ul li a:hover {
	color: yellow;
}
nav ul li {
	display:inline-block;
	padding: 10px 25px;
}
.wrapper {
	position:relative;
	top:0;
	left:0;
	width:1440px;
	height:800px;
	overflow:hidden;
}
.bg_content_1, .bg_content_2, .bg_content_3, .bg_content_4 {
	position:absolute;
	top:50px;
	left:-100px;
	
	height:800px;
	background-repeat:no-repeat;
	z-index:0;
}
.bg_content_1 {
	width:1822px;
	top:25px;
	left:-85px;
	background-image:url(../images/common/bg_content_1.jpg);
	background-size:1822px 732px;
	z-index:0;
}
.bg_content_2 {
	width:1800px;
	top:105px;
	left:95px;
	background-image:url(../images/common/bg_content_2.png);
	background-size:1357px 175px;
	z-index:1;
}
.bg_content_3 {
	width:1700px;
	top:125px;
	left:320px;
	background-image:url(../images/common/bg_content_3.png);
	background-size:829px 487px;
	z-index:2;
}
.bg_content_4 {
	width:1600px;
	top:120px;
	left:-110px;
	background-image:url(../images/common/bg_content_4.png);
	background-size:1674px 806px;
	z-index:12;
}
.logo {
	display:block;
	margin-bottom:-25px;
	width:131px;
	height:63px;
	background-image:url(../images/common/logo.png);
	background-repeat:no-repeat;
	background-size:131px 63px;
}
.bottle {
	position:absolute;
	top:25px;
	left:210px;
	width:481px;
	height:756px;
	background-image:url(../images/common/bottle.png);
	background-repeat:no-repeat;
	background-size:481px 756px;
	z-index:11;
}
.wrapp_content {
	position: relative;
	top: 150px;
	left: 135px;
	width: 435px;
	height:300px;
	color:#362f2d;
}
.wrapp_content h1{
	line-height:0;
	}
.wrapp_content h2{
	line-height:0;
	}