.bg_header {
	position:relative;
	top:0;
	left:0;
	margin-bottom: -115px;
	width:100%;
	height:127px;
	background-image:url(../images/common/bg_header.png);
	background-repeat:no-repeat;
	background-size:100% 127px;
	z-index:10;
}
footer {
	position:relative;
	top:0;
	left:0px;
	margin-top: -124px;
	width:100%;
	height:124px;
	background-image:url(../images/common/bg_footer.png);
	background-repeat:no-repeat;
	background-size:100% 124px;
	z-index:10;
}
nav {
	position:absolute;
	top:0px;
	left:0;
	width:100%;
	height:120px;
	text-align:center;
	padding-top: 10px;
	z-index:15;
}
nav ul li a {
	color:#FFFFFF;
}
nav ul li a:hover {
	color: yellow;
}
nav ul li a.active {
	color: yellow;
}
nav ul li {
	display:inline-block;
	padding: 10px 40px;
}
.wrapper {
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:100%
	overflow:hidden;
}
.parallax-viewport {
	width: 100%;
}
.parallax-viewport {
	width: 100%;
	max-width: 1440px;
	height: 800px;
	min-height:100%;
	background-color: #FF0;
}
.parallax-viewport {
	position: relative;     /* relative, absolute, fixed */
	overflow: hidden;
}
.parallax-layer {
	position: absolute;
}
.bg_content_1, .bg_content_2, .bg_content_3, .bg_content_4 {
	position:absolute;
	height:100%;
	background-repeat:no-repeat;
	z-index:0;
}
.bg_content_1 {
	width:110%;
	top:25px;
	left:0;
	background-image:url(../images/common/bg_content_1.jpg);
	background-size:1822px 732px;
	background-position-x:-100px;
	z-index:0;
}
.bg_content_2 {
	width:107%;
	top:105px;
	left:0;
	background-image:url(../images/common/bg_content_2.png);
	background-size:1357px 175px;
	background-position-x: 10%;
	z-index:1;
}
.bg_content_3 {
	width:105%;
	top:125px;
	left:0;
	background-image:url(../images/common/bg_content_3.png);
	background-size:829px 487px;
	z-index:2;
	background-position:top center;
}
.bg_content_4 {
	width:103%;
	top:120px;
	left:0;
	background-image:url(../images/common/bg_content_4.png);
	background-size:1674px 806px;
	background-position-x:77%;
	z-index:12;
}
.logo {
	display:block;
	margin-bottom:-25px;
	width:131px;
	height:63px;
	background-image:url(../images/common/logo.png);
	background-repeat:no-repeat;
	background-size:131px 63px;
}
.bottle {
	position:relative;
	top:25px;
	left:-285px;
	width:481px;
	height:756px;
	background-image:url(../images/common/bottle.png);
	background-repeat:no-repeat;
	background-size:481px 756px;
	z-index:11;
	margin:0 auto;
}
.wrapp_content {
	position: relative;
	top: 150px;
	left: -65px;
	width: 435px;
	height:300px;
	color:#362f2d;
	margin:0 auto;
}
.wrapp_content h1{
	line-height:10px;
	}
.wrapp_content h2{
	line-height:20px;
	}