.footer  { width: 100%; margin: 0 auto ; min-height: 126px; position: fixed; bottom: 0px; background-image: url('images/footer_bg.png'); background-color: transparent; background-repeat: no-repeat; background-size: cover;}
.menu-top { width: 961px; height: 78px;  margin: 0px auto; position: relative; z-index: 99; }
.sf-menu { float: left;  margin-left: 2px; margin-top: 15px;}

.sf-menu { width: 879px; height: 40px; text-align: center; }
.sf-menu li { float: none; display: inline; color: #fff; width: auto;  padding: 10px 40px;}
.sf-menu li a  { text-transform: none; font-family: fff;  text-shadow: 1px 1px #555555; font-size: 17px; text-transform: uppercase;  line-height: 70px ;}
.sf-menu li a:hover { color: #e8b975; cursor: pointer; }

.sf-menu .logo a { width: 131px; height: 63px; display: inline-block; text-indent: -30000px; background-image: url('images/logo.png'); background-color: transparent; background-position: no-repeat; }

#mainpage { text-align: center;}

.tree-cs { width: 387px; height: 683px; z-index: 10; position: absolute; top: -90px; left: -135px; background-image: url('images/chrismast_tree.png'); background-color: transparent; background-repeat: no-repeat;}


.description { text-align: center; width: 70%; margin: 20px auto; text-align: justify;}
.description .title { text-align: center;}

.description .quote { width: 461px; height: 41px; margin: 0 auto; padding: 10px 0; background-image: url('images/quote.png'); background-color: transparent; background-repeat: no-repeat;}
.description  p { margin: 15px 0px;}
.form { margin-top: 40px;}
.form .settingrow { margin: 15px 0px;}
.form .settingrow input { border: none;}
.form .settingrow .title { color: #c9ad67; text-transform: uppercase;}
.form .settingrow .textbox{  width: 190px; height: 32px; color: #000; padding: 0 5px;   background-image: url('images/textbox.png'); background-color: transparent; background-repeat: no-repeat;}
.form .btn-submit { width: 86px; height: 31px; cursor: pointer;  background-image: url('images/submit.png'); background-color: transparent; background-repeat: no-repeat;}

.player_pause{ background:url('images/player_pause.png') no-repeat;position:fixed; bottom:40px; right:30px; height:32px; width:32px;cursor:pointer}
.player_play { background:url('images/player_play.png') !important }

.simple_overlay { 
    display:none;
    z-index:10000;
    background-color:#333;
	width:800px;
    max-height:400px;
    border:1px solid #666;
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
	font-size: 12px;
	padding:8px;
}
 
.simple_overlay .close {
    background-image:url(images/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}

.simple_overlay .contentWrap{
	max-height:400px;
	overflow-y: scroll;
}