body 
{
    margin:0;padding:0;  
    font-family:tahoma ;
	background-position: center top;
	background-color: #090c1d;
	background-image: url('images/bg.jpg'); 
	background-repeat: no-repeat;
	color: #fff;
	font-size: 15px;
}
a { text-decoration: none; color: #fff;}
a:hover { color: yellow;}
p { padding: 0px; margin: 0px;}
#webcontent
{
    width:100%;   
}

#toppage { width: 100%; min-height: 127px; margin: 0 auto; }
#bottompage { width: 100%; min-height: 126px; position: relative;}
#mainpage { width: 1024px; margin: 0 auto; min-height: 487px; position: relative;}